:root {
  /* primary */
  --color-white: #fff;
  --color-black: #091018;
  --color-dark: #1c304a;
  --color-medium: #046b99;
  --color-light: #b3efff;
  --color-bright: #00cfff;
  
  /* Others */
  --color-morning: #dfe8ee;
  --color-morning-text: #41657c;
  --color-evening: #dfe8ee;
  --color-evening-text: #41657c;
  
  /* hues */
  --color-dark-02: #fbfbfb;
  --color-dark-03: #f8f8f9;
  --color-dark-05: #f4f4f6;
  --color-dark-1: #e7eaec;
  --color-dark-2: #d1d5da;
  --color-dark-3: #bbc0c9;
  --color-dark-5: #8d97a4;
  --color-dark-6: #778292;
  --color-dark-7: #606e7f;
  --color-dark-8: #4a5a6f;
  --color-medium-1: #e9f0f4;
  --color-bright-1: #ecfafe;
  --color-bright-20: #9dabb2;
  --color-bright-45: #80939C;
  --color-hour-link: #778292;
  --color-hour-link-dark: #4a5a6f;
  
  --color-unfinished-text: #fff;
  --color-unfinished-background: #5A6C7F;

  --color-gunmetal: #2E3440;
  --color-putty: #EBCB8B;
  
  --font-monospace: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
  --font-family-tags: SFMono-Regular, Menlo, Monaco,
               Consolas, "Liberation Mono",
               "Courier New", monospace;
  --font-family-normal: "Whitney HTF", "Basier Square", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  
  --font-size: 17px;
  --font-size-code: 14px;
}

@font-face {
  font-family: 'phosphor';
  src:
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.ttf?smubu4') format('truetype'),
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.woff?smubu4') format('woff'),
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.svg?smubu4#phosphor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_light-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* @font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
} */

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_book-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_book-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_black-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

html,
body,
#app,
.roam-topbar,
 #right-sidebar,
.roam-sidebar-container {
  background: var(--color-dark-05) !important;
  font-size: var(--font-size);
}

a,
.rm-page-ref-link-color {
  color: var(--color-medium);
}

.roam-block {
  margin-top: -2px;
}

b, strong {
  font-weight: 600;
}

a:focus,
a:hover {
  color: var(--color-dark);
}

body,
div,
.level2,
sub,
textarea {
  font-family: var(--font-family-normal) !important;
}

em {
  font-size: var(--font-size);
  font-family: var(--font-family-normal) !important;
}

.roam-app {
  color: var(--color-black) !important;
}

.log-button,
.starred-pages-wrapper,
.starred-pages .page,
.roam-sidebar-container .rm-db-title-container .rm-db-title {
  color: rgba(9,16,24,.5) !important;
  transition: color 0.2s ease-in-out;
}

.log-button {
  color: rgba(9,16,24,.6) !important;
  transition: color 0.2s ease-in-out;
}

.roam-center {
  background: var(--color-white) !important;
  border: 1px solid var(--color-dark-1) !important;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
  margin: 0 20px 20px;
  height: initial !important;
}

.bp3-input[type="search"] {
  box-shadow: none !important;
  border: 1px solid var(--color-dark-2);
}

.bp3-input[type="search"]:focus {
  border: 1px solid var(--color-bright);
  box-shadow: 0 0 0 3px var(--color-bright-45) !important;
}

.roam-sidebar-container {
  box-shadow: none !important;
}

.bp3-popover {
  border: 1px solid var(--color-dark-2) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.roam-sidebar-container .roam-sidebar-content .log-button {
  font-size: 13.2px !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  font-size: 16px;
}

.roam-sidebar-container .roam-sidebar-content .log-button .icon {
  display: none;
}

.roam-sidebar-container .roam-sidebar-content .top-row,
.roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding-right: 0 !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding-top: 15px !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box {
  margin-bottom: 2px !important;
} 

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box .bp3-icon-small,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box div {
  display: none !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box span {
  font-weight: 600 !important;
  font-size: 11px;
  color: var(--color-dark-3);
}

.roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding-left: 0 !important;
}

.roam-sidebar-container .roam-sidebar-content .top-row + div.log-button {
  padding-top: 20px !important;
}

.roam-sidebar-container .roam-sidebar-content .top-row:hover,
.roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-sidebar-container .rm-db-title-container .rm-db-title:hover,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background-color: initial !important;
  color: var(--color-black) !important;
}

#roam-right-sidebar-content div {
  border-bottom-color: var(--color-dark-1) !important;
}

.starred-pages-wrapper > div:first-child {
  background-color: var(--color-dark-1) !important;
}

.roam-log-container .roam-log-page {
  border-color: var(--color-dark-1) !important;
}

.roam-block-container {
  border-radius: 0;
}

.rm-reference-item {
  background-color: var(--color-dark-02) !important;
  border: 1px solid var(--color-dark-05) !important;
  border-radius: 4px;
  padding: 8px 8px 8px 0 !important;
}

.rm-inline-references {
  padding: 12px 20px !important;
  border-radius: 4px;
}

#roam-sidebar-logo {
  display: none;
}

.CodeMirror {
  border: 1px solid var(--color-dark-1) !important;
  border-radius: 4px;
}

.roam-block-container select {
  padding: 2px 0 3px;
  background-color: var(--color-bright-1) !important;
  border: 1px solid var(--color-dark-3);
  border-radius: 3px;
}

.rm-page-ref-brackets {
  font-weight: 200;
  color: var(--color-dark-3); 
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title {
  font-size: var(--font-size);
}

/* headings
----------- */
h1.rm-title-display {
  color: var(--color-dark) !important;
  letter-spacing: -1px;
  font-weight: 800;
  width: fit-content;
  width: -moz-fit-content;
  padding: 0 5px; 
  box-shadow: 0px -15px 0px var(--color-medium-1) inset;
}

h1.rm-level1,
h2.rm-level2 {
  font-weight: 700 !important;
  letter-spacing: -.6px;
  color: var(--color-dark) !important;
}

h2.rm-level2 {
  opacity: .8;
}

h3.rm-level3 {
  letter-spacing: -.4px;
  color: var(--color-dark-5);
  font-weight: 500 !important;
}

/* bullets
---------- */
.controls .simple-bullet-outer {
  margin-top: 4px !important;
}

/* tables
--------- */
.roam-table table {
  width: 100%;
  table-layout: fixed;
}

.roam-table tr:nth-child(even) {
  background-color: var(--color-dark-03);
}

.roam-table th, .roam-table td, .roam-table tr {
  border: 1px solid var(--color-dark-1);
  font-size: 14px;
}

/* block references
------------------- */
span.rm-block-ref::before {
  content: " ※ ";
  font-family: Georgia, serif;
}

span.rm-block-ref {
  color: var(--color-dark-7);
  border: none;
  margin: 0;
  padding: 0;
}

span.rm-block-ref span.rm-block-ref {
  filter: hue-rotate(50deg);
}

span.rm-block-ref:hover,
span.rm-block-ref:hover span.rm-block-ref {
  background-color: inherit;
  color: var(--color-black);
  text-decoration: underline;
}

/* morning/evening pages
------------------------ */
/* Legacy Items
span[data-link-title="Morning Routine"]::before {
  content: "☀️ ";
}

span[data-link-title="Evening Routine"]::before {
  content: "🌕 ";
}
*/
span[data-link-title="Morning Routine"]::before,
span[data-link-title="Evening Routine"]::before,
span[data-link-title="Inspiration"]::before,
span[data-link-title="Ideas"]::before,
span[data-link-title="Happy Hour"]::before,
span[data-link-title="Money"]::before,
span[data-link-title="Words"]::before,
span[data-link-title="Health"]::before {
  font-family: "phosphor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  speak: never;
  display: inline-block;
  padding-right: 5px;
  position: relative;
  top: 1px;
  font-size: 13px;
}

span[data-link-title="Inspiration"]::before {
  content: "\eaa4 ";
}

span[data-link-title="Happy Hour"]::before {
  content: "\f035 ";
}

span[data-link-title="Health"]::before {
  content: "\e900 ";
}

span[data-link-title="Ideas"]::before {
  content: "\efa4 ";
}

span[data-link-title="Money"]::before {
  content: "\eabd ";
}

span[data-link-title="Words"]::before {
  content: "\f189 ";
}

span[data-link-title="Morning Routine"]::before {
  content: "\f34b ";
}

span[data-link-title="Evening Routine"]::before {
  content: "\f067 ";
}

span[data-link-title="Health"],
span[data-link-title="Money"],
span[data-link-title="Words"],
span[data-link-title="Ideas"],
span[data-link-title="Inspiration"],
span[data-link-title="Happy Hour"],
span[data-link-title="Morning Routine"],
span[data-link-title="Evening Routine"] {
  padding: 4px 6px;
  border-radius: 3px;
  opacity: .9;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

span[data-link-title="Morning Routine"],
span[data-link-title="Evening Routine"],
span[data-link-title="Words"],
span[data-link-title="Money"],
span[data-link-title="Happy Hour"],
span[data-link-title="Inspiration"],
span[data-link-title="Health"],
span[data-link-title="Ideas"] {
  background-color: var(--color-morning);
  color: var(--color-morning-text);
}

.rm-reference-item span[data-link-title="Morning Routine"],
.rm-reference-item span[data-link-title="Evening Routine"],
.rm-reference-item span[data-link-title="Health"],
.rm-reference-item span[data-link-title="Ideas"],
.rm-reference-item span[data-link-title="Words"],
.rm-reference-item span[data-link-title="Money"],
.rm-reference-item span[data-link-title="Code"],
.rm-reference-item span[data-link-title="Inspiration"],
.rm-inline-references span[data-link-title="Morning Routine"],
.rm-inline-references span[data-link-title="Evening Routine"],
.rm-inline-references span[data-link-title="Inspiration"],
.rm-inline-references span[data-link-title="Health"],
.rm-inline-references span[data-link-title="Words"],
.rm-inline-references span[data-link-title="Ideas"],
.rm-inline-references span[data-link-title="Happy Hour"],
.rm-inline-references span[data-link-title="Code"],
.rm-inline-references span[data-link-title="Money"] {
  padding: 0;
  background-color: initial;
}

span[data-link-title="Money"]:hover,
span[data-link-title="Health"]:hover,
span[data-link-title="Ideas"]:hover,
span[data-link-title="Words"]:hover,
span[data-link-title="Happy Hour"]:hover,
span[data-link-title="Inspiration"]:hover,
span[data-link-title="Morning Routine"]:hover,
span[data-link-title="Evening Routine"]:hover {
  opacity: 1;
}

span[data-link-title="Health"] .rm-page-ref-brackets,
span[data-link-title="Money"] .rm-page-ref-brackets,
span[data-link-title="Words"] .rm-page-ref-brackets,
span[data-link-title="Ideas"] .rm-page-ref-brackets,
span[data-link-title="Inspiration"] .rm-page-ref-brackets,
span[data-link-title="Happy Hour"] .rm-page-ref-brackets,
span[data-link-title="Morning Routine"] .rm-page-ref-brackets,
span[data-link-title="Evening Routine"] .rm-page-ref-brackets {
  display: none;
}

span[data-link-title="Ideas"] .rm-page-ref-link-color,
span[data-link-title="Words"] .rm-page-ref-link-color,
span[data-link-title="Health"] .rm-page-ref-link-color,
span[data-link-title="Money"] .rm-page-ref-link-color,
span[data-link-title="Inspiration"] .rm-page-ref-link-color,
span[data-link-title="Happy Hour"] .rm-page-ref-link-color,
span[data-link-title="Morning Routine"] .rm-page-ref-link-color,
span[data-link-title="Evening Routine"] .rm-page-ref-link-color {
  color: var(--color-morning-text);
  letter-spacing: 0.05rem;
  font-size: 14px;
  padding: 0 2px;
}

span[data-link-title="Ideas"] .rm-page-ref:hover,
span[data-link-title="Words"] .rm-page-ref:hover,
span[data-link-title="Money"] .rm-page-ref:hover,
span[data-link-title="Health"] .rm-page-ref:hover,
span[data-link-title="Inspiration"] .rm-page-ref:hover,
span[data-link-title="Happy Hour"] .rm-page-ref:hover,
span[data-link-title="Morning Routine"] .rm-page-ref:hover,
span[data-link-title="Evening Routine"] .rm-page-ref:hover {
  text-decoration: none;
}

span[data-link-title$=":45"] .rm-page-ref-link-color,
span[data-link-title$=":30"] .rm-page-ref-link-color,
span[data-link-title$=":15"] .rm-page-ref-link-color,
span[data-link-title$=":00"] .rm-page-ref-link-color {
  font-family: var(--font-monospace);
  font-size: 14px;
  color: var(--color-hour-link);
  padding: 2px 4px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
}

span[data-link-title$=":45"] .rm-page-ref-link-color:hover,
span[data-link-title$=":30"] .rm-page-ref-link-color:hover,
span[data-link-title$=":15"] .rm-page-ref-link-color:hover,
span[data-link-title$=":00"] .rm-page-ref-link-color:hover {
  text-decoration: none;
  color: var(--color-hour-link-dark);
  border: 1px solid #e7eaec;
}

/* tag styles. ex: #Article
--------------------------- */
span.rm-page-ref-tag[data-tag="Resourcing"],
span.rm-page-ref-tag[data-tag="Issue"],
span.rm-page-ref-tag[data-tag="Quotes"],
span.rm-page-ref-tag[data-tag="Draft"],
span.rm-page-ref-tag[data-tag="Revised"],
span.rm-page-ref-tag[data-tag="Inspiration"],
span.rm-page-ref-tag[data-tag="Unfinished Thoughts"],
span.rm-page-ref-tag[data-tag="Code"],
span.rm-page-ref-tag[data-tag="Thoughts"],
span.rm-page-ref-tag[data-tag="Snippets"],
span.rm-page-ref-tag[data-tag="Evergreen"],
span.rm-page-ref-tag[data-tag="Concepts"],
span.rm-page-ref-tag[data-tag="Food"] {
  padding: 3px 6px;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 15px;
  /* text-transform: uppercase; */
}

span.rm-page-ref-tag[data-tag="Food"]:hover,
span.rm-page-ref-tag[data-tag="Draft"]:hover,
span.rm-page-ref-tag[data-tag="Revised"]:hover,
span.rm-page-ref-tag[data-tag="Code"]:hover,
span.rm-page-ref-tag[data-tag="Quotes"]:hover,
span.rm-page-ref-tag[data-tag="Inspiration"]:hover,
span.rm-page-ref-tag[data-tag="Snippets"]:hover,
span.rm-page-ref-tag[data-tag="Resourcing"]:hover,
span.rm-page-ref-tag[data-tag="Issue"]:hover,
span.rm-page-ref-tag[data-tag="Thoughts"]:hover,
span.rm-page-ref-tag[data-tag="Evergreen"]:hover,
span.rm-page-ref-tag[data-tag="Concepts"]:hover,
span.rm-page-ref-tag[data-tag="Unfinished Thoughts"]:hover {
  text-decoration: none;
}

span.rm-page-ref-tag[data-tag="Thoughts"],
span.rm-page-ref-tag[data-tag="Unfinished Thoughts"] {
  background-color: var(--color-putty);
  color: var(--color-gunmetal);
}

span.rm-page-ref-tag[data-tag="Issue"] {
  background-color: #ED5B5C;
  color: #fff;
}

span.rm-page-ref-tag[data-tag="Resourcing"] {
  background-color: #304D6D;
  color: #A7CCED;
}

span.rm-page-ref-tag[data-tag="Food"] {
  background-color: #203B34;
  color: #FDBD37;
}

span.rm-page-ref-tag[data-tag="Inspiration"] {
  background-color: #D4E8E1;
  color: #E14B68
}

span.rm-page-ref-tag[data-tag="Evergreen"] {
  background-color: #4B543B;
  color: #fff;
}

span.rm-page-ref-tag[data-tag="Draft"] {
  background-color: #DCE2AA;
  color: #2C2D22;
}

span.rm-page-ref-tag[data-tag="Revised"] {
  background-color: #8ED081;
  color: #fff;
}

span.rm-page-ref-tag[data-tag="Snippets"],
span.rm-page-ref-tag[data-tag="Code"] {
  background-color: #A8CFE1;
  color: #0B0C10;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--font-monospace);
}

span.rm-page-ref-tag[data-tag="Quotes"] {
  background-color: #142B3E;
  color: #BFD7EA;
}

span.rm-page-ref-tag[data-tag="Concepts"] {
  background-color: #2F4858;
  color: rgba(255,255,255,0.8);
}

/* kanban board
--------------- */
.kanban-board {
  background: var(--color-dark-03) !important;
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 4px 2px 0 2px !important;
}

.kanban-board .kanban-column {
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 0;
  margin: 0 2px;
}

.kanban-board .kanban-column:not([style*=background]) {
  background: var(--color-white) !important;
}

.kanban-board .kanban-column[style*=background] {
  background: var(--color-light) !important;
}

.kanban-board .kanban-column .kanban-title {
  text-align: left;
  font-weight: 600;
  border-bottom: none;
  padding: 8px 16px 0;
  margin-bottom: 0;
  min-height: auto;
  max-height: none;
}

.kanban-board .kanban-column .kanban-card {
  background: var(--color-dark-03);
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 6px 10px;
}

.checkmark {
  top: -2px;
  /* border-radius: 50% !important; */
}

.check-container {
  margin-right: 5px;
}

code,
.CodeMirror .CodeMirror-code pre {
  font-size: var(--font-size-code);
  font-family: var(--font-monospace);
}

.rm-block-text {
  max-width: 60ch;
}

.rm-block-input {
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

.roam-highlight {
  margin-left: 4px;
}

/*
  Queries
*/

.rm-query-title {
  font-size: 0px !important;
}

.rm-query-title:after {
  font-size: 15px;
  content: "Query";
}

.rm-query {
  padding-bottom: 0;
}

.rm-reference-main {
  padding-bottom: var(--s1);
}

@media only screen and (max-width: 600px) {
  h1.rm-title-display {
  	font-size: 30px;
  }
}