:root {

  /* Primary Colors */
  --color-white: #fff;
  --color-black: #091018;
  --color-dark: #1c304a;
  --color-medium: #046b99;
  --color-light: #b3efff;
  --color-bright: #00cfff;
  
  /* Hues */
  --color-dark-02: #fbfbfb;
  --color-dark-03: #f8f8f9;
  --color-dark-05: #f4f4f6;
  --color-dark-1: #e7eaec;
  --color-dark-2: #d1d5da;
  --color-dark-3: #bbc0c9;
  --color-dark-5: #8d97a4;
  --color-dark-6: #778292;
  --color-dark-7: #606e7f;
  --color-dark-8: #4a5a6f;
  --color-medium-1: #e9f0f4;
  --color-bright-1: #ecfafe;
  --color-bright-20: #9dabb2;
  --color-bright-45: #80939C;

  /* Special Tag Colors */
  --color-hour-link: #778292;
  --color-hour-link-dark: #4a5a6f;

  --color-default-tag-bg: #4a5a6f;
  --color-default-tag-text: #fbfbfb;
  
  /* Font Families */
  --font-monospace: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
  --font-family-normal: "Mallory", "AtlasGrotesk", "Whitney HTF", "Basier Square", Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
               "Helvetica Neue", sans-serif;
  
  /* Font Sizes */
  --font-size: 16px;
  --font-size-xs: 14px;
  --font-size-s: 15px;
  --font-size-l: 17px;
}

@font-face {
  font-family: 'phosphor';
  src:
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.ttf?smubu4') format('truetype'),
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.woff?smubu4') format('woff'),
    url('https://unpkg.com/phosphor-icons@1.0.1/src/font/phosphor.svg?smubu4#phosphor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* @font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_light-webfont.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
} */

/* @font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
} */

@font-face {
  font-family:"Mallory";
  src:url("fonts/mallory/Mallory_Compact_Light.woff2") format("woff2");
  font-style:normal;font-weight:200;
}

@font-face {
  font-family:"Mallory";
  src:url("fonts/mallory/Mallory_Compact_Medium.woff2") format("woff2");
  font-style:normal;font-weight:600;
}

@font-face {
  font-family:"Mallory";
  src:url("fonts/mallory/Mallory_Compact_Bold.woff2") format("woff2");
  font-style:normal;font-weight:800;
}

/* @font-face {
  font-family:"AtlasGrotesk";
  src:url("fonts/atlas-grotesk/AtlasGrotesk-Thin.woff2") format("woff2");
  font-style:normal;font-weight:200;
}

@font-face {
  font-family:"AtlasGrotesk";
  src:url("fonts/atlas-grotesk/AtlasGrotesk-Light.woff2") format("woff2");
  font-style:normal;font-weight:300;
}

@font-face {
  font-family:"AtlasGrotesk";
  src:url("fonts/atlas-grotesk/AtlasGrotesk-Light.woff2") format("woff2");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"AtlasGrotesk";
  src:url("fonts/atlas-grotesk/AtlasGrotesk-Bold.woff2") format("woff2");
  font-style:normal;font-weight:600;
} */

/* @font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_book-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_book-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney HTF';
  src: url('whitney_black-webfont.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
} */

html,
body,
#app,
.roam-topbar,
 #right-sidebar,
.roam-sidebar-container {
  background: #fff !important;
  font-size: var(--font-size);
  font-weight: 300;
}

.roam-body .roam-app .roam-sidebar-container {
  background: #f9f9f9 !important;
}

a,
.rm-page-ref--link {
  color: var(--color-medium);
  text-decoration-skip-ink: auto;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.rm-block-text a:hover,
.rm-page-ref--link:hover {
  color: var(--color-dark);
  text-decoration-skip-ink: auto;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.rm-ref-page-view-title a  {
  text-decoration: none;
}

.roam-block {
  /* margin-top: -2px; */
  line-height: 1.5em;
}

b, strong {
  font-weight: 600;
}

a:focus,
a:hover {
  color: var(--color-dark);
}

body,
div,
.level2,
sub,
textarea {
  font-family: var(--font-family-normal) !important;
}

em {
  font-size: var(--font-size);
  font-family: var(--font-family-normal) !important;
}

.roam-app {
  color: var(--color-black) !important;
}

.log-button,
.starred-pages-wrapper,
.starred-pages .page,
.roam-sidebar-container .rm-db-title-container .rm-db-title {
  color: rgba(9,16,24,.5) !important;
  transition: color 0.2s ease-in-out;
}

.log-button {
  color: rgba(9,16,24,.6) !important;
  transition: color 0.2s ease-in-out;
}

.roam-center {
  background: var(--color-white) !important;
  border: 1px solid var(--color-dark-1) !important;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04) !important;
  margin: 0 20px 20px;
  height: initial !important;
}

.bp3-input[type="search"] {
  box-shadow: none !important;
  border: 1px solid var(--color-dark-2);
}

.bp3-input[type="search"]:focus {
  border: 1px solid var(--color-bright);
  box-shadow: 0 0 0 3px var(--color-bright-45) !important;
}

.roam-sidebar-container {
  box-shadow: none !important;
}

.bp3-popover {
  border: 1px solid var(--color-dark-2) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.roam-sidebar-container .rm-graph-dropdown .menu-item {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.roam-sidebar-container .roam-sidebar-content .log-button {
  font-size: 13.2px !important;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  font-size: 16px;
}

.roam-sidebar-container .roam-sidebar-content .log-button .icon {
  display: none;
}

.roam-sidebar-container .roam-sidebar-content .top-row,
.roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding-right: 0 !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper {
  padding-top: 15px !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box {
  margin-bottom: 2px !important;
} 

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box .bp3-icon-small,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box div {
  display: none !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .flex-h-box span {
  font-weight: 600 !important;
  font-size: 11px;
  color: var(--color-dark-3);
}

.roam-sidebar-container .roam-sidebar-content .log-button,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page {
  padding-left: 0 !important;
}

.roam-sidebar-container .roam-sidebar-content .top-row + div.log-button {
  padding-top: 20px !important;
}

.roam-sidebar-container .roam-sidebar-content .top-row:hover,
.roam-sidebar-container .roam-sidebar-content .log-button:hover,
.roam-sidebar-container .rm-db-title-container .rm-db-title:hover,
.roam-sidebar-container .roam-sidebar-content .starred-pages-wrapper .starred-pages .page:hover {
  background-color: initial !important;
  color: var(--color-black) !important;
}

#roam-right-sidebar-content div {
  border-bottom-color: var(--color-dark-1) !important;
}

.starred-pages-wrapper > div:first-child {
  background-color: var(--color-dark-1) !important;
}

.roam-log-container .roam-log-page {
  border-color: var(--color-dark-1) !important;
}

.roam-block-container {
  border-radius: 0;
}

.rm-reference-item {
  background-color: var(--color-dark-02) !important;
  border: 1px solid var(--color-dark-05) !important;
  border-radius: 4px;
  padding: 8px 8px 8px 0 !important;
}

.rm-reference-item .rm-zoom-item-content div {
  line-height: 1.42857143;
}

.rm-inline-references {
  padding: 12px 20px !important;
  border-radius: 4px;
}

#roam-sidebar-logo {
  display: none;
}

.CodeMirror {
  border: 1px solid var(--color-dark-1) !important;
  border-radius: 4px;
}

.roam-block-container select {
  padding: 2px 0 3px;
  background-color: var(--color-bright-1) !important;
  border: 1px solid var(--color-dark-3);
  border-radius: 3px;
}

.rm-page-ref-brackets {
  font-weight: 200;
  color: var(--color-dark-3); 
}

.rm-mentions .rm-ref-page-view .rm-ref-page-view-title {
  font-size: var(--font-size);
}

/* headings
----------- */
h1.rm-title-display {
  color: var(--color-dark) !important;
  letter-spacing: -1px;
  font-weight: 800;
  width: fit-content;
  width: -moz-fit-content;
  padding: 0 5px; 
  box-shadow: 0px -15px 0px var(--color-medium-1) inset;
}

h1.rm-level1,
h2.rm-level2 {
  font-weight: 700 !important;
  letter-spacing: -.6px;
  color: var(--color-dark) !important;
}

h2.rm-level2 {
  opacity: .8;
}

h3.rm-level3 {
  letter-spacing: -.4px;
  color: var(--color-dark-5);
  font-weight: 500 !important;
}

/* bullets
---------- */
.controls .simple-bullet-outer {
  margin-top: 4px !important;
}

/* tables
--------- */
.roam-table table {
  width: 100%;
  table-layout: fixed;
}

.roam-table tr:nth-child(even) {
  background-color: var(--color-dark-03);
}

.roam-table th, .roam-table td, .roam-table tr {
  border: 1px solid var(--color-dark-1);
  font-size: 14px;
}

/* block references
------------------- */
span.rm-block-ref::before {
  content: " ※ ";
  font-family: Georgia, serif;
}

span.rm-block-ref {
  color: var(--color-dark-7);
  border: none;
  margin: 0;
  padding: 0;
}

span.rm-block-ref span.rm-block-ref {
  filter: hue-rotate(50deg);
}

span.rm-block-ref:hover,
span.rm-block-ref:hover span.rm-block-ref {
  background-color: inherit;
  color: var(--color-black);
  text-decoration: underline;
}

span[data-link-title^="[[Books]]"] > .rm-page-ref--link::after {
  font-family: "phosphor" !important;
  font-style: normal !important;
  font-weight: bold !important;
  speak: never;
  font-size: 14px;
  padding-left: 4px;
  margin-right: 2px;
  position: relative;
  display: inline-block;
  content: "\eb38 ";
}

/*
  Time Tags
*/

span[data-link-title$=":45"] .rm-page-ref--link,
span[data-link-title$=":30"] .rm-page-ref--link,
span[data-link-title$=":15"] .rm-page-ref--link,
span[data-link-title$=":00"] .rm-page-ref--link {
  font-family: var(--font-monospace);
  font-size: 14px;
  color: var(--color-hour-link);
  padding: 2px 5px;
  background: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}

span[data-link-title$=":45"] .rm-page-ref--link:hover,
span[data-link-title$=":30"] .rm-page-ref--link:hover,
span[data-link-title$=":15"] .rm-page-ref--link:hover,
span[data-link-title$=":00"] .rm-page-ref--link:hover {
  text-decoration: none;
  color: var(--color-hour-link-dark);
  border: 1px solid #e7eaec;
}

/*
  Star Tags
*/

span[data-link-title$="✩"] .rm-page-ref--link,
span[data-link-title$="✩✩"] .rm-page-ref--link,
span[data-link-title$="✩✩✩"] .rm-page-ref--link,
span[data-link-title$="✩✩✩✩"] .rm-page-ref--link,
span[data-link-title$="✩✩✩✩✩"] .rm-page-ref--link,
span[data-link-title$="✩✩✩✩✩✩"] .rm-page-ref--link {
  color: var(--color-white);
  padding: 2px 4px;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  background: #9D4400;
  border-radius: 2px;
}

span[data-link-title$="✩"] .rm-page-ref--link:hover,
span[data-link-title$="✩✩"] .rm-page-ref--link:hover,
span[data-link-title$="✩✩✩"] .rm-page-ref--link:hover,
span[data-link-title$="✩✩✩✩"] .rm-page-ref--link:hover,
span[data-link-title$="✩✩✩✩✩"] .rm-page-ref--link:hover {
  text-decoration: none;
}

/* tag styles. ex: #Article
--------------------------- */

span.rm-page-ref--tag[data-tag="Resourcing"],
span.rm-page-ref--tag[data-tag="Reminder"],
span.rm-page-ref--tag[data-tag="Health"],
span.rm-page-ref--tag[data-tag="Article"],
span.rm-page-ref--tag[data-tag="Book"],
span.rm-page-ref--tag[data-tag="Issue"],
span.rm-page-ref--tag[data-tag="Issue"],
span.rm-page-ref--tag[data-tag="Quotes"],
span.rm-page-ref--tag[data-tag="Draft"],
span.rm-page-ref--tag[data-tag="Revised"],
span.rm-page-ref--tag[data-tag="Inspiration"],
span.rm-page-ref--tag[data-tag="Fragment"],
span.rm-page-ref--tag[data-tag="Code"],
span.rm-page-ref--tag[data-tag="Happy Hour"],
span.rm-page-ref--tag[data-tag="Thoughts"],
span.rm-page-ref--tag[data-tag="Words"],
span.rm-page-ref--tag[data-tag="Evergreen"],
span.rm-page-ref--tag[data-tag="Fonts"],
span.rm-page-ref--tag[data-tag="Decision"],
span.rm-page-ref--tag[data-tag="Concepts"],
span.rm-page-ref--tag[data-tag="Person"],
span.rm-page-ref--tag[data-tag="Recipes"],
span.rm-page-ref--tag[data-tag="Purchase"],
span.rm-page-ref--tag[data-tag="Food"] {
  padding: 2px 5px;
  white-space: nowrap;
  font-size: var(--font-size-s);
  border-radius: 2px;
  color: var(--color-default-tag-text);
  text-decoration: none;
  background: var(--color-default-tag-bg);
}

span.rm-page-ref--tag[data-tag="Reminder"]:hover,
span.rm-page-ref--tag[data-tag="Health"]:hover,
span.rm-page-ref--tag[data-tag="Food"]:hover,
span.rm-page-ref--tag[data-tag="Draft"]:hover,
span.rm-page-ref--tag[data-tag="Fonts"]:hover,
span.rm-page-ref--tag[data-tag="Article"]:hover,
span.rm-page-ref--tag[data-tag="Book"]:hover,
span.rm-page-ref--tag[data-tag="Recipes"]:hover,
span.rm-page-ref--tag[data-tag="Revised"]:hover,
span.rm-page-ref--tag[data-tag="Code"]:hover,
span.rm-page-ref--tag[data-tag="Decision"]:hover,
span.rm-page-ref--tag[data-tag="Quotes"]:hover,
span.rm-page-ref--tag[data-tag="Happy Hour"]:hover,
span.rm-page-ref--tag[data-tag="Inspiration"]:hover,
span.rm-page-ref--tag[data-tag="Resourcing"]:hover,
span.rm-page-ref--tag[data-tag="Issue"]:hover,
span.rm-page-ref--tag[data-tag="Words"]:hover,
span.rm-page-ref--tag[data-tag="Person"]:hover,
span.rm-page-ref--tag[data-tag="Thoughts"]:hover,
span.rm-page-ref--tag[data-tag="Evergreen"]:hover,
span.rm-page-ref--tag[data-tag="Concepts"]:hover,
span.rm-page-ref--tag[data-tag="Purchase"]:hover,
span.rm-page-ref--tag[data-tag="Fragment"]:hover {
  text-decoration: none;
}

/* kanban board
--------------- */
.kanban-board {
  background: var(--color-dark-03) !important;
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 4px 2px 0 2px !important;
}

.kanban-board .kanban-column {
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 0;
  margin: 0 2px;
}

.kanban-board .kanban-column:not([style*=background]) {
  background: var(--color-white) !important;
}

.kanban-board .kanban-column[style*=background] {
  background: var(--color-light) !important;
}

.kanban-board .kanban-column .kanban-title {
  text-align: left;
  font-weight: 600;
  border-bottom: none;
  padding: 8px 16px 0;
  margin-bottom: 0;
  min-height: auto;
  max-height: none;
}

.kanban-board .kanban-column .kanban-card {
  background: var(--color-dark-03);
  border: 1px solid var(--color-dark-1);
  border-radius: 4px;
  padding: 6px 10px;
}

.checkmark {
  top: -2px;
  /* border-radius: 50% !important; */
}

.check-container {
  margin-right: 5px;
  top: -6px;
}

.rm-reference-item .parent-path-wrapper .check-container {
  top: -2px;
}

code,
.CodeMirror .CodeMirror-code pre {
  font-size: var(--font-size-xs);
  font-family: var(--font-monospace);
}

.rm-find-or-create-wrapper {
  flex: 0 1 100% !important;
}

.rm-attr-ref {
  font-weight: 800 !important;
}

.rm-bold {
  font-weight: 600 !important;
}

.rm-block-text {
  max-width: 60ch;
}

.rm-block-input { 
  background: #f9f9f9;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #f1f1f1;
  line-height: 1.5em;
  margin-top: 0;
}

.roam-highlight {
  margin-left: 4px;
  padding: 4px;
}

.rm-paren.rm-paren--closed {
  margin-left: 5px;
}

.rm-paren__paren--left {
  padding-right: 2px;
}

.rm-paren__paren--right {
  padding-left: 2px;
}

/*
  Experimental
*/

.slider .slider-cell {
  display: none;
}

[data-page-links*="Daily Log"] .rm-level-1 > [data-page-links*="TODO"] {
  order: 0;
}

[data-page-links*="Daily Log"] .rm-level-1 > [data-page-links*="DONE"] {
  order: 2;
}

[data-page-links*="Daily Log"] .rm-level-1 > div {
  order: 1;
}

[data-page-links*='"DONE"'] > div > div:nth-child(2) > span {
  opacity: 0.4;
  text-decoration: line-through;
}

.bp3-button:not([class*="bp3-intent-"]) {
  box-shadow: none;
  background: #f5f8fa;
  border: none;
  float: right;
}

.rm-reference-item .bp3-button:not([class*="bp3-intent-"]) {
  float: none;
}

/*
  Block Container Styles:
    Meeting
    Callout
    Call
*/

div[data-page-links*='meeting'],
div[data-page-links*='callout'] {
  background: #f6fbf9;
  padding: 5px 0;
}

div[data-page-links*='call'] {
  background: #eff9f5;
  padding: 5px 0;
}

div[data-page-links*='embed'] {
  background-color: #EBF1F5;
  padding: 5px 0;
}

.rm-reference-item div[data-page-links*='call']
.rm-reference-item div[data-page-links*='meeting'],
.rm-reference-item div[data-page-links*='callout'] {
  /* TBD */
}

div[data-page-links*='meeting'] .rm-block-input,
div[data-page-links*='callout'] .rm-block-input {
  border: 1px solid #d3e1e5;
  background: #fff;
}

div[data-page-links*='call'] .rm-block-input {
  border: 1px solid #e3f5ed;
  background: #fff;
}

span.rm-page-ref--tag[data-tag='call'],
span.rm-page-ref--tag[data-tag='meeting'],
span.rm-page-ref--tag[data-tag='callout'] {
  display: none;
}

div[data-page-links*='call']::after,
div[data-page-links*='meeting']::after {
  text-transform: uppercase;
  font-size: 11px;
  position: absolute;
  right: 15px;
  background: #fff;
  padding: 2px 6px;
  font-weight: 600;
  letter-spacing: 0.05em;
}

div[data-page-links*='meeting']::after {
  content: 'meeting';
  border: 2px solid #edfafe;
}

div[data-page-links*='call']::after {
  content: 'call';
  border: 2px solid #e3f5ed;
}

/*
  Queries
*/

.rm-query-title {
  font-size: 0px !important;
}

.rm-query-title:after {
  font-size: 15px;
  content: "Query";
}

.rm-query {
  padding-bottom: 0;
}

.rm-reference-main {
  padding-bottom: var(--s1);
}

@media only screen and (max-width: 600px) {
  :root {
    --font-size: 17px;
  }
  h1.rm-title-display {
  	font-size: 30px;
  }
  .rm-block-input {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}